/*GENERAL BEGIN*/
body {
    height: 100%;
    width: 100%
}
/*GENERAL END*/

/*NAVBAR BEGIN*/

nav ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;

    background: deepskyblue;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

title {
    text-align: center;
}

nav ul li ul {
    display: none;
}

nav ul li:hover ul {
    display: flex;
    flex-flow: column;
    margin-bottom: 0;
    padding-bottom: 0;
    margin: 10px;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

nav a:hover {
    background: #00b7f5;
    text-decoration: underline;
}
/*NAVBAR END*/

/*MAIN BEGIN*/
main {
    height: 100%;
    width: 100%;
    background-color: black;
}
/*MAIN END*/

/*FOOTER BEGIN*/
footer {
    background: blue;
}
/*FOOTER END*/

@media all and (max-width: 600px) {
    .navigation {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap; 
        text-align: center; 
        padding: 10px;
        border-top: 1px solid rgba(255,255,255,0.3); 
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .navigation a { 
        text-align: center; 
        padding: 10px;
        border-top: 1px solid rgba(255,255,255,0.3); 
        border-bottom: 1px solid rgba(0,0,0,0.1); 
    }


    .navigation li:last-of-type a {
        border-bottom: none;
    }
}